@inherits LayoutComponentBase
    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu /> 
    <RadzenTooltip />
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @*<div class="top-row-bar px-1">
                <a href="http://thedelports.com" target="_blank" class="ml-md-auto">Help</a>
            </div>*@

        <div class="content px-5">
            @Body
        </div>
    </div>
