@inherits PatientsBase

@page "/patientslist"

<h1 class="page-title">Patient List</h1>

<Notarius.Client.Components.Patient.PatientsList @ref="patientList" NotEditAble="false"></Notarius.Client.Components.Patient.PatientsList>
             
