@inherits HelptipBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <table class="tooltip-wrapper">
                        
                        <tbody>
                            @Text
                        </tbody>
                    </table>


                    
                </div>
            </div>
        </div>
    </div>
}