@inherits HomePageLinkBase


    <div>
        <img class="img-responsive @homepageCSS" src="@ImageSRC"   width="200" height="200" 
             @onmouseover="MouseOver" 
             @onmouseout="MouseOut" 
             @onmousedown="MouseDown"
             @onmouseup="MouseUp"/>
    </div>
